div.navImage {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Ma Shan Zheng", cursive;
}

//響應式導覽列
ul.navbar-nav {
  li.topLink {
    margin-left: 3rem;
    border-right: 3px solid green;

    &:hover {
      animation: appear5 0.8s;
    }
  }
}

@media screen and (max-width: 991px) {
  ul.navbar-nav {
    align-items: start;

    li.topLink {
      border: 3px solid green;
      border-radius: 10px;
      margin: 0;
      margin-top: 5px;
      width: 70%;
    }
  }
}

@media screen and (max-width: 390px) {
  ul.navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;

    li.topLink {
      margin-top: 10px;
      margin-right: 40px;
      width: auto;
    }
  }
}

@keyframes appear5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//咖啡icon的樣式表
button.navbar-toggler {
  background-color: rgba(222, 184, 135, 0.3);
  i.fa-mug-saucer {
    padding: 2px;
    color: brown;
  }
}

/*navbar在scroll時的顯現及消失*/
nav.secNav {
  background-color: rgba(255, 255, 255, 0.4);
  animation-name: navbar-collapse;
  animation-duration: 0.5s;
  li:hover {
    animation: appear5 0.8s;
  }
}

@keyframes navbar-collapse {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
