.contact {
  height: 100%;
  font-family: "Noto Sans TC";
  display: flex;
  justify-content: center;
  form {
    width: 50%;
    h1 {
      text-align: center;
      border-bottom: 10px solid #fab554;
      border-radius: 50px;
      margin-bottom: 2rem;
    }
    .gender {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 10px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #dee2e6;
    }
    .category {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 10px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #dee2e6;
    }
    .input-group-text {
      width: 20%;
    }
    .contact-time {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #dee2e6;
      .form-check {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
    .hint {
      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }
    .prefix::before {
      content: "*";
      color: red;
    }
    .submitButton {
      display: flex;
      justify-content: center;
      margin: 2rem;
      button {
        height: 40px;
        width: 150px;
        background-color: green;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
      }
    }
    label {
      text-align: start;
    }
    .message-board {
      display: flex;
      justify-content: center;
      label {
        background-color: #f8f9fa;
        border-radius: 5px 0 0 5px;
        border: 1px solid #dee2e6;
        width: 20%;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 6px 12px 6px 12px;
      }
      textarea {
        width: 80%;
        border-radius: 0 5px 5px 0;
        margin-left: -2px;
        &::placeholder {
          color: rgba(0, 0, 0, 0.3);
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    form {
      width: 60%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .contact {
    form {
      width: 70%;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    form {
      .gender {
        width: 70%;
      }
      .input-group-text {
        width: 30%;
      }
      .contact-time {
        flex-direction: column;
        align-items: center;
        width: 70%;
        .form-check {
          width: 100%;
        }
      }
      .category {
        width: 70%;
      }
      .message-board {
        label {
          width: 30%;
        }
        textarea {
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .contact {
    font-size: 12px;
    form {
      .input-group-text {
        font-size: 12px;
      }
      input {
        font-size: 12px;
      }
      select {
        font-size: 12px;
      }
    }
  }
}

@keyframes collapse {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
