//MenuList component style
.meal-All-list {
  margin: auto;
  margin-bottom: 4rem;
  width: 75vw;
  font-family: "Ma Shan Zheng", cursive;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    padding: 0;

    .meal-lists {
      width: calc(
        (100% / 3) - 20px
      ); //-20px是因為每個框的margin共20px，border跟padding不用算在內，寬度就會置中
      text-align: center;
      font-size: 1.3rem;
      list-style: none;
      padding: 10px;
      margin: 10px;
      border: 1px solid rgb(250, 181, 84);
      cursor: pointer;
      &:hover {
        background-color: rgb(250, 181, 84, 0.8);
      }
    }

    .selected {
      background-color: rgb(250, 181, 84, 0.8);
      color: rgb(2, 81, 93);
    }
  }
}

//MenuBook component style
.contain {
  width: 40vw;
  margin: 10px auto;
  transition: 2s;
  font-family: "Ma Shan Zheng", cursive;

  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    background: rgba(0, 0, 0, 0);
    transition: 1s;
    border: none;

    .imgBox {
      position: relative;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 10px 3px #fab554;
      border: 5px solid #fab554;
      border-radius: 5px;
      transform-origin: left;
      z-index: 10;
      transition: 2s;

      .btn-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.7);
        transition: 0.5s;
      }
    }

    .btn-right-arrow {
      position: absolute;
      z-index: 9;
      top: 50%;
      left: 100%;
      transform: translate(-100%, -50%);
    }
    .btn-left-arrow {
      position: absolute;
      z-index: 15;
      top: 50%;
      left: -100%;
      transform: translate(0, -50%);
      display: none;
    }

    .page1,
    .page2,
    .page3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: rgb(2, 81, 93);
      div {
        width: 100%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        div {
          width: 50%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          h4 {
            cursor: pointer;
            text-align: center;
            span {
              text-align: center;
              font-size: 1rem;
              p {
                font-size: 12px;
                text-align: center;
              }
            }
          }
          a {
            display: flex;
            justify-content: center;
            img {
              width: 85%;
              animation: display 0.5s;
            }
          }
        }
        .bottom-alignment {
          margin-top: 35px;
        }
      }
      button {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }
    }

    .page1 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 5px;
      transform-origin: left;
      z-index: 8;
      transition: 2s;
      background-color: lightyellow;
      box-shadow: inset 5px 0 15px rgba(0, 0, 0, 0.5);
    }
    .page2 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: whitesmoke;
      box-shadow: inset 5px 0 15px rgba(0, 0, 0, 0.5);
      z-index: 6;
      transition: 2s;
      transform-origin: left;
    }
    .page3 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: wheat;
      box-shadow: inset 5px 0 15px rgba(0, 0, 0, 0.5);
      z-index: 4;
    }
  }
}

.real-menu {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .contain {
    width: 50%;
    .card {
      .page1,
      .page2,
      .page3 {
        div {
          div {
            h4 {
              margin: 0;
              font-size: 16px;
              span {
                font-size: 16px;
                p {
                  font-size: 12px;
                  margin: 0;
                }
              }
            }
            a {
              img {
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
  }
  .real-menu {
    flex-direction: column;
    a {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .meal-All-list {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .contain {
    .card {
      .page1,
      .page2,
      .page3 {
        div {
          div {
            h4 {
              line-height: 1.2;
              font-size: 12px;
              span {
                font-size: 12px;
                p {
                  font-size: 9px;
                }
              }
            }
            a {
              img {
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
  .real-menu {
    flex-direction: column;
    a {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .meal-All-list {
    width: 60vw;
    ul {
      .meal-lists {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contain {
    .card {
      .page1,
      .page2,
      .page3 {
        div {
          div {
            h4 {
              font-size: 10px;
              span {
                font-size: 10px;
                p {
                  font-size: 8px;
                }
              }
            }
          }
          .bottom-alignment {
            margin-top: 20px;
          }
        }
        button {
          padding: 3px;
          font-size: 12px;
        }
      }
    }
  }
  .meal-All-list {
    margin-bottom: 0;
    width: 80vw;
    ul {
      .meal-lists {
        font-size: 0.8rem;
        padding: 2px;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .contain {
    .card {
      .page1,
      .page2,
      .page3 {
        div {
          div {
            h4 {
              line-height: 1.2;
              font-size: 8px;
              span {
                font-size: 8px;
                p {
                  font-size: 6px;
                }
              }
            }
          }
          .bottom-alignment {
            margin-top: 10px;
          }
        }
        button {
          padding: 2px;
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .contain {
    .card {
      .page1,
      .page2,
      .page3 {
        button {
          padding: 2px;
          font-size: 8px;
        }
      }
    }
  }
}

@keyframes display {
  0% {
    margin-right: 3rem;
  }
  100% {
    margin-right: 0;
  }
}
